@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;

  background-color: #121212;
  color: #e1e1e1;

  visibility: hidden;
}

main {
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  padding: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 640px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.menu {
  list-style: none;
  position: relative;
  color: #ffffff60;
  width: 100%;

  @media (max-width: 640px) {
    order: 2;
  }
}

.menu__indicator {
  opacity: 0;
  position: absolute;
  left: -5rem;

  @media (max-width: 640px) {
    display: none;
  }
}

.menu__item {
  font-size: 5rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1rem;
  font-weight: 700;
  user-select: none;
  overflow: hidden;

  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-out;

  @media (max-width: 640px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.menu__item:hover {
  color: #e1e1e1;
  cursor: pointer;
  -webkit-text-fill-color: #e1e1e1;
  -webkit-text-stroke-width: 0.1rem;
}

.introduction {
  text-align: right;
  width: 100%;

  @media (max-width: 640px) {
    text-align: left;
    order: 1;
    margin-bottom: 1em;
  }
}

.introduction__profile-pic {
  width: auto;
  height: 250px;
  border-radius: 125px;
}

.introduction__name {
  font-size: 1.5rem;
  height: 72px;
  overflow: hidden;
}

.introduction__description {
  & > span {
    height: 1.5rem;
    display: block;
  }
}

.introduction__social-medias {
  margin-top: 1em;
  display: flex;
  justify-content: right;
  font-weight: bold;
  cursor: pointer;

  & > a {
    color: #e1e1e1;
    text-decoration: none;
  }

  a + a {
    margin-left: 1em;
  }

  @media (max-width: 640px) {
    justify-content: left;
  }
}
